Converter/src/main/webapp/wsdl/Converter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://converter.uge.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://converter.uge.fr" xmlns:intf="http://converter.uge.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://converter.uge.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="newAmount">
    <complexType>
     <sequence>
      <element name="currency" type="xsd:string"/>
      <element name="amount" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="newAmountResponse">
    <complexType>
     <sequence>
      <element name="newAmountReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="newAmountRequest">

      <wsdl:part element="impl:newAmount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="newAmountResponse">

      <wsdl:part element="impl:newAmountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Converter">

      <wsdl:operation name="newAmount">

         <wsdl:input message="impl:newAmountRequest" name="newAmountRequest">

       </wsdl:input>

         <wsdl:output message="impl:newAmountResponse" name="newAmountResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ConverterSoapBinding" type="impl:Converter">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="newAmount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="newAmountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="newAmountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ConverterService">

      <wsdl:port binding="impl:ConverterSoapBinding" name="Converter">

         <wsdlsoap:address location="http://localhost:8080/Converter/services/Converter"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
